@mixin font-face($font-family, $font-weight, $font-style, $font-src-woff2, $font-src-woff) {
	@font-face {
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
		font-display: swap;
		src: $font-src-woff2, $font-src-woff;
	}
}

@mixin icons-mask($bg-color, $mask-image) {
	mask-image: $mask-image;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: $bg-color;
}

@mixin bg-icon($bg-src, $bg-size: contain, $bg-position: center) {
	background-image: $bg-src;
	background-position: $bg-position;
	background-repeat: no-repeat;
	background-size: $bg-size;
}