// fonts
$primary-font: 'Montserrat', 'Arial', sans-serif;

// color
$color-base-primary: #7859CF;
$color-base-secondary: #F0EBFF;
$color-white: #FFFFFF;
$color-night-rider: #333333;
$color-silver: #BDBDBD;
$color-white-smoke: #F8F8F8;
$color-bridal-heath: #F3EBE1;
$color-lavender: #EAE6FC;
$color-solitude: #E5E6E8;

$color-primary-opacity: rgba(120, 89, 207, 0.25);
$color-primary-hover: #9070EC;
$color-primary-active: #593CAC;
$color-primary-disabled: #E2E2E2;

// viewport
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-big-width: 992px;
$desktop-width: 1200px;
$desktop-width-extra: 1440px;

// transition
$trans-default: 0.3s ease-in-out;