.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;

    @media (min-width: $tablet-width) {
        gap: 50px 20px;
    }

    @media (min-width: $desktop-width) {
        gap: 50px 30px;
    }
}

.features-list__item {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;

    @media (min-width: $tablet-width) {
        width: calc(50% - 15px);
        grid-template-columns: 62px 1fr;
        align-items: start;
        justify-items: start;
        column-gap: 20px;
    }

    @media (min-width: $desktop-width) {
        width: calc((100% - 90px) / 4);
        grid-template-columns: 1fr;
        justify-items: center;
    }

    &::before {
        content: '';
        display: block;
        width: 52px;
        height: 56px;
        margin-bottom: 10px;

        @media (min-width: $tablet-width) {
            grid-column: 1;
            grid-row: 1 / 3;
            justify-self: end;
        }

        @media (min-width: $desktop-width) {
            grid-column: 1;
            grid-row: 1;
            justify-self: center;
            margin-bottom: 21px;
        }
    }

    &--speed::before {
        @include bg-icon(url('../../icons/stack.svg#speed'), 100%);

        @media (min-width: $tablet-width) {
            margin-top: 4px;
        }

        @media (min-width: $desktop-width) {
            margin-top: 0;
        }
    }

    &--conven::before {
        @include bg-icon(url('../../icons/stack.svg#conven'));
    }

    &--cheerf::before {
        @include bg-icon(url('../../icons/stack.svg#cheerf'));
    }

    &--eco::before {
        @include bg-icon(url('../../icons/stack.svg#eco'));

        @media (min-width: $tablet-width) {
            margin-top: 4px;
        }

        @media (min-width: $desktop-width) {
            margin-top: 0;
        }
    }
}

.features-list__title {
    margin-bottom: 4px;

    @media (min-width: $tablet-width) {
        grid-column: 2;
        grid-row: 1;
        margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
        grid-column: 1;
        grid-row: 2;
    }
}

.features-list__descr {
    text-align: center;

    @media (min-width: $tablet-width) {
        grid-column: 2;
        grid-row: 2;
        text-align: start;
    }

    @media (min-width: $desktop-width) {
        grid-column: 1;
        grid-row: 3;
        text-align: center;
    }
}