.footer-social__logo-descr {
    @media (min-width: $desktop-width) {
        margin-bottom: 50px;
        font-size: 14px;
        line-height: 20px;
    }
}

.footer-social__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-social__logo-link {
    @media (min-width: $desktop-width) {
        margin-bottom: 10px;
        transition: opacity $trans-default;

        &:hover {
            opacity: 0.7;
        }
    }
}

.footer-social__logo-link img {
    display: block;
}

.footer-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: background-color $trans-default;

    &:hover {
        background-color: $color-base-secondary;
    }

    &:active {
        background-color: $color-primary-opacity;
    }

    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        mask-size: 100%;
        transition: background-color $trans-default;
    }

    &--vk::before {
        @include icons-mask($color-silver, url('../../icons/stack.svg#vk'));
    }

    &--pi::before {
        @include icons-mask($color-silver, url('../../icons/stack.svg#p'));
        width: 40px;
        height: 40px;
    }

    &--ok::before {
        @include icons-mask($color-silver, url('../../icons/stack.svg#ok'));
    }


    &:hover::before {
        background-color: $color-base-primary;
    }

    &:active::before {
        background-color: $color-base-primary;
    }
}